#account-main-grid {
    top:0px;
    left: 0px;
    margin-left:100px;
    margin-top:132px;
    margin-right: 100px;
    padding-right: 150px;
    padding-left:150px;
    padding-top:50px;
    height: 80%;
    position: relative;
    
}

#row-2{
    margin-top:50px;
}
#row-3{
    margin-top: 50px;
    margin-bottom: 50px;
}

#account-main-container{
    background-color: rgba(255, 255, 255, 0.815);
    padding-bottom: 50px;
}

#account-update-btn{
    background: #5200d6;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    color: white;
    margin-right: 10px;
    padding-right: 15px;
}

#account-update-btn:hover{
    background-image: linear-gradient(240deg, #ff00f2, #ff006a);
}

#account-update-btn-div{
    text-align: right;
    margin-right: 250px;
    margin-top: 50px;
}