#home-not-logged-container{
  position: absolute;
  z-index: 4;
}
.h2-gettingStarted {
  font-size: 18px;
  font-family: Poppins;
  color: #ffffff;
  padding-top: 15px;
  padding-left: 30px;
  margin-bottom:5px;
  position: absolute;
  z-index: 4;
}

.h2-yearly {
  font-size: 18px;
  font-family: Poppins;
  color: black;
  padding-top: 15px;
  padding-left: 30px;
  margin-bottom: 5px;
  position: absolute;
  z-index: 4;
}

#gettingStarted{
  background: purple;
  box-shadow: 7px 7px 4px rgba(0, 0, 0, 0.25);
  border-radius:20px;
  margin-top: 20px;
  position: absolute;
  z-index: 4;
  top: 0px;
  left: 0px;
  display: flex
}

#gettingStartedList {
  padding-bottom: 20px;
  padding-left: 80px;
  padding-right: 10px;
  margin: 2px;
  position: absolute;
}

.li-landingPage{
  color: white;
  font-family: Poppins;
  font-weight: 600;
  position: absolute;
  z-index: 4;
}

.detailsUnderList{
  color: white;
  font-family: Raleway;
  position: absolute;
  z-index: 4;
}

#yearlyStats{
  background: radial-gradient(108.19% 1253.06% at -3.45% 7.73%, #ffc0f1 0%, #FFFFFF 100%);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius:20px;
  position: absolute;
  z-index: 4;
}

#divider {
  margin: 20px;
  position: absolute;
  z-index: 4;
}

#yearlyList {
  padding-bottom: 20px;
  padding-left: 80px;
  padding-right: 10px;
  margin: 2px;
  font-family: Raleway;
  color: #8B8B8B;
  position: absolute;
  z-index: 4;
};

#yearlyList li{
  color: black;
  position: absolute;
  z-index: 4;
};

#covidDeaths {
  padding-left: 300px;
  position: absolute;
  z-index: 4;
};


