.login-div{
    width: 330px;
    height: 350px;
    margin-left: 50px;
    background: #BAECD7;
    box-shadow: 7px 7px 5.19372px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

#login-title{
    font-family: Poppins;
    font-style: normal;
    margin-left: 30px;
    font-weight: bold;
    font-size: 25;
    line-height: 25px;
    letter-spacing: 0.01em;
    padding-top: 30px;
    color: #737373;
}

.username-login {
    margin-left: 10%;
    margin-right: 10%;
    background-color: white;
    border-radius: 5px;
}

.password-login {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20px;
    background-color: white;
    border-radius: 5px;
}

.registration-link {
    text-decoration: none;
}


#login-form-buttons{
    text-align: center;
    margin-top: 30px;
    
}

#register-btn {
    background: #5A0ABF;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    color: white;
    margin-right: 10px;
    padding-right: 15px;
}

#login-btn {
    background: #22D196;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    color: white;
    margin-left: 10px;
    padding-left: 15px;
}