#account-container{
    margin-top: 200px;
    margin-left: 50px;
}

ul {
    list-style: none;
}
.account-list-main li {
    font-family: Poppins;
    font-size: 14px;
    display: inline;
}

.account-list div {
    font-family: Raleway;
}