
#data-log-main-table th {
    font-family: Raleway;
    font-size: 19px;
}

#data-log-main-table td {
    font-family: Raleway;
    font-size: 15px;
}

#data-log-main-table {
    border-radius: 15px;
    padding: 30px;
    border-collapse: collapse;
    margin: auto;
}


#data-log-thead th {
    margin: 0px;
    background-color: rgb(94, 94, 94);
    text-align: center;
    padding-right: 25px;
    padding-left: 25px;
    padding-bottom: 5px;
    padding-top: 5px;
    color: white;
}

#data-log-main-div {
    position: absolute;
    top: 16%;
    left: 1.5%;
}