.nav-title {
    position: absolute;
    width: 330px;
    height: 35px;
    left: 30px;
    top: 10px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 1900;
    font-size: 45px;
    line-height: 40px;
    color: #09E69B;

}

.nav-line{
  position: absolute;
  width: 95%;
  height: 10px;
  left: 30px;
  top: 135px;

  background: radial-gradient(57.95% 662245.53% at 91.91% 100.02%, #02FFA9 0%, #C9FFED 76.7%);
}

.nav-list {
position: absolute;
left: 45px;
top: 105px;
list-style: none;
margin: 0;
padding: 0;
font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 25px;
line-height: 30px;
}

.nav-div {
  background-color: #09E69B;
}

.nav-link-li{
  margin: 0px;
  padding-right: 10px;
  padding-left: 10px;
  padding-top:5px;
  padding-bottom:0px;
  border-bottom: 0px;
  text-decoration: none;
}

.inline-li {
  display: inline;
}
.nav-link-li:hover {
  background-color: #09e69c;
  color: white!important;
}

.nav-link-li:visited {
  text-decoration: none;
  color:rgb(88, 88, 88);
}


.nav-link-li:focus {
  text-decoration: none;
  color:rgb(88, 88, 88);
}

.nav-link-li:active {
  text-decoration: none;
  color: rgb(88, 88, 88);
}

